.App {
  font-family: sans-serif;
  text-align: center;
}

.moviesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.movieCard {
  margin: 10px;
}

.noteDiv {
  width: 100px;
  height: 50px;
}

img {
  width: 100px;
  heigh: 100px;
}
